/* influencer gear style starts here */
/* font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* body fonts */
body {
  font-family: "Poppins", sans-serif;
}
/* universal selectors */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* shared style */

/* variables */
:root {
  --primary-color: #e02c6d;
  --secondary-color: #ffffff;
  --dark-color: #3a3a3a;
  --light-gray: rgba(120, 120, 133, 1);
  --icon-color: #ff9900;
}

/* header style start here */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 95px 120px;
}
.navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  list-style: none;
}
.navbar nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-color);
}
.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-color);
}
/* header style end */
/* banner style start here */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 120px;
}
.banner-title h1 {
  font-size: 3.25rem;
  font-weight: 800;
  color: var(--dark-color);
  margin-bottom: 16px;
}
.banner-description p {
  font-weight: 600;
  font-size: 1rem;
  color: var(--light-gray);
  margin-bottom: 16px;
}
.banner-button button {
  border: 1px solid transparent;
  border-radius: 41px;
  padding: 10px 24px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 800;
}
.banner-image img {
  background: url(../images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-image {
  width: 440px;
  height: 414px;
}
/* banner section style end */
/* sponsor style is here */
.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 15px;
  margin-top: 100px;
  border-top: 0.3px solid var(--light-gray);
  border-bottom: 0.3px solid var(--light-gray);
  margin: 0px 130px;
  margin-bottom: 100px;
}
/* sponsor style end here */
/* collection style start here */
.collection {
  margin: 100px;
}
.collection-title h3 {
  text-align: center;
  font-size: 1.75rem;
  color: var(--dark-color);
  font-weight: 500;
  margin-bottom: 30px;
}
.collection-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-box {
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 40px 0px #00000019;

  padding: 20px;
  border-radius: 5px;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--dark-color);
}
.card-price {
  font-size: 1.5rem;
  color: var(--dark-color);
  font-weight: 300;
}
.icon i {
  color: var(--icon-color);
}
.icon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}
.icon p {
  padding: 0;
}
.box-description {
  color: var(--light-gray);
  font-size: 0.8rem;
}
